.body {
	text-align: center;
	margin-right: 5px;
}

.individual_Review {
	border: 2px solid black;
	margin: 15px 0px;
}
.review_img {
	width: 100%;
}

.sortButton {
	size: 5px;
	background-color: green;
	border: 2px blue solid;
}

.sorteeButtons {
	size: 5px;
	background-color: blue;
	border: 2px green solid;
	color: yellow;
}

.hidden {
	display: none;
}

.p {
	display: inline-block;
}

@media only screen and (max-width: 600px) {
}
