 body {
  background-color: rgb(170, 179, 185);
}

.App {
  text-align: center;
  height: 100vh;
  margin: 10px;
}

.comment-box{
  border-color: black;
  border-radius: 2em;
  border-width: 0.5em;
  border-style: solid;
}

/* img {
  width: 70%;
}  */

